<div class="justify-content-center text-center">
    <div class="container profileBox">
        <h3 class="singleStory">Edit Post</h3>
        <form class="card-body" id="edit-story-form">
            <input type="hidden" name="story-id" value="{{story.id}}" />
            <label class="form-label">Title</label>
            <br>
            <input type="text" class="form-input titleInput" name="story-title" value="{{story.title}}" />
            <br>
            <label class="form-label">Content</label>
            <br>
            <textarea type="text" name="story-content" class="form-input storyInput">{{story.content}}</textarea>
            <br>
            <button id="editBtn" class="btn signup-btn" type="submit">Update</button>
            <br>
            <button class="btn login-btn" type="submit" id="deleteBtn">Delete</button>
            <br>
        </form>
    </div>
</div>

<script src="/js/edit.js"></script>