{{#each stories as |story|}}
<div class="story container">
  {{story.user.username}}
  {{story.title}}
  {{story.content}}
  {{story.image}}
  <div>
    {{/each}}
    <h2>Recommended Topics</h2>
  </div>
</div>