<div class="container justify-content-center text-center">
<div class="card profileBox">
  <div class="card-header">
    <h2 class="card-title singleStory">Login</h2>
  </div>
  <form id="login-form" class="card-body">
    <div>
      <label for="username-input-login">Username</label>
      <input type="text" id="username-input-login" />
    </div>
    <div>
      <label for="password-input-login" class="form-label">Password</label>
      <input type="password" id="password-input-login" />
    </div>
    <button type="submit" class="btn login-btn" id="login-btn">Login</button>
    <a type="button" href="/signup" class="signup-link">Sign Up Instead!</a>
  </form>
</div>
</div>

<script src="/js/login.js"></script>