<div class="card justify-content-center">
  <div class="card-header bg-secondary text-light">
    <h2 class="card-title">Login</h2>
  </div>
  <form id="login-form" class="card-body">
    <div>
      <label for="username-input-login">Username</label>
      <input type="text" id="username-input-login" />
    </div>
    <div>
      <label for="password-input-login" class="form-label">Password</label>
      <input type="password" id="password-input-login" />
    </div>
    <button type="submit" id="login-btn" class="btn">Login</button>
    <a type="button" href="/signup" id="signup-link">Sign Up Instead!</a>
  </form>
</div>

<script src="/js/login.js"></script>