<div class="justify-content-center text-center">
    <div class="container profileBox">
        <h2 class="singleStory">Welcome to your profile page!</h2>
        <h2>{{{get_emoji}}}</h2>
        <h3 class="profileUser">{{user.username}}</h3>
    </div>
    <div class="container profileBox">
        <h3 class="singleStory">Your Stories</h2>
            <div>
            </div>
            {{#each stories as |story|}}
            <div>
                <div>
                    <h4>{{story.title}}</h4>
                    <a href="/edit/{{story.id}}"><button class="btn login-btn" type="submit">EDIT STORY</button></a>
                </div>
            </div>
            {{/each}}
    </div>
    <div class="container profileBox">
        <h3 class="singleStory">Create New Post</h3>
        <form id="new-story-form" class="card-body">
            <label class="form-label" >Title</label>
            <br>
            <input type="text" name="story-title" class="form-input titleInput" />
            <br>
            <label class="form-label" >Content</label>
            <br>
            <textarea type="text" name="story-content" class="form-input storyInput"></textarea>
            <br>
            <button class="btn login-btn" type="submit">ADD STORY</button>
        </form>
    </div>
</div>

<script src="/js/newstory.js"></script>