<div class="justify-content-center text-center">
  <div class="container profileBox">
    <h2 class="singleStory">Welcome to your profile page!</h2>
    {{!-- PROFILE IMG AND USERNAME SIDE PANEL --}}
      <h3>{{username}}Username</h3>
    </div>
    <div class="container profileBox">
      <h3 class="singleStory">Your Stories</h2>
    <div>
    </div>
    {{!-- STORY SECTION WITH ADD/EDIT BTNs --}}
    {{#each stories as |story|}}
    <div>
      <div>
        {{!-- STORY DISPLAYED --}}
        <h4>{{story.title}}</h4>
        {{!-- <span>{{format_date createdAt}}</span> --}}
        {{!-- EDIT STORY BTN (Font Awesome Icon) --}}
        <button class="btn profileBtn" type="submit">EDIT <i class='fas fa-ghost'></i> STORY</button>
      </div>
    </div>
    {{/each}}
  </div>
  <div class="container profileBox">
    <h3 class="singleStory">Create New Post</h3>
    <form id="new-post-form" class="card-body">
      <label class="form-label" for="post-title">Title</label>
      <br>
      <input type="text" class="form-input titleInput" />
      <br>
      <label class="form-label" for="post-body">Content</label>
      <br>
      <textarea type="text" class="form-input storyInput"></textarea>
      <br>
      <button class="btn profileBtn" type="submit">ADD STORY</button>
    </form>
  </div>
</div>

{{!-- WHERE SHOULD THIS LINK TO?? --}}