<div class="container justify-content-center text-center">
<div class="card profileBox">
  <div class="card-header">
    <h2 class="singleStory">Sign Up</h2>
  </div>
  <div id="signup" role="tabpanel">
    <form id="signup-form" class="card-body">
      <div>
        <label for="username-input-signup">Username</label>
        <input type="text" id="username-input-signup" required />
      </div>
      <div>
        <label for="password-input-signup">Password</label>
        <input type="password" id="password-input-signup" required />
      </div>
      <button type="submit" class="btn signup-btn" >Signup</button>
      <a href="/login" class="signup-link">Login Instead!</a>
    </form>
  </div>
</div>
</div>

<script src="/js/signup.js"></script>