*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: #0a100d;
  --darkTan: #b9baa3;
  --lightTan: #d6d5c9;
  --lightRed: #a22c29;
  --darkRed: #902923;
  --Purple: #3c096c;
  --Orange: #f77f00;
}

body{
    color: var(--lightTan);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: url("../images/creepystorybg.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;

}

main {
    padding-top: 100px;
}

main > a:hover {
  text-decoration: none;
}

.title {
  font-family: 'Butcherman', cursive;
  text-decoration: none;
  font-size: 300%;
  color: var(--darkRed);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: rgba(0, 0, 0, 0.74);
    /* border-bottom: solid var(--dark) 5px; */
}

nav a{
    text-decoration: none;
    font-size: 200%;
    padding: 10px;
    color: var(--darkTan);
    font-family: 'Pinyon Script', cursive;
}

nav a:hover {
  text-shadow: 1px 1px 2px var(--Orange), 0 0 10px white, 0 0 5px var(--Orange);
  color: var(--darkTan);
  font-size: 220%;
  transition: .5s ease;
}

.glow {
  color: var(--darkRed);
  text-align: center;
  text-shadow: 0 0 5px white, 0 0 10px black, 0 0 15px var(--lightRed), 0 0 20px var(--Orange), 0 0 15px white;
}

.glow:hover {
  color: var(--lightTan);
  text-decoration: none;
  transition: .5s ease;
}

.homepageCard {
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--darkTan);
  border-radius: 20px;
  margin: 20px 40px;
  background-color:rgba(0, 0, 0, 0.699);
  /* border: solid var(--dark) 5px; */
}

.homeText {
    position: relative;
    display: inline-block;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.5em; 
    line-height: 1.2em;
    text-align:justify;
  }

.homepageCard:hover {
  box-shadow: 0 0 15px var(--dark), 0 0 25px silver;
  opacity: 1px;
  transform: scale(1.02);
}

.homeCards:hover {
  text-decoration: none;
}

.singleStory {
  font-family: 'Pinyon Script', cursive;
  font-size: 350%;
}

.storyBox {
  background-color:rgba(70, 10, 10, 0.63);
  /* border: solid var(--dark) 5px; */
  border-radius: 20px;
  margin-top: 25px;
  padding-top: 15px;
}

.profileBox {
  background-color:rgba(0, 0, 0, 0.699);
  /* border: solid var(--dark) 5px; */
  border-radius: 20px;
  margin-top: 25px;
  padding-top: 15px;
}

.profileUser {
    padding-bottom: 15px;
    color: var(--lightRed);
}

.titleInput {
  width: 50%;
  padding: 5px;
}

.storyInput {
  width: 100%;
  min-height: 200px;
  padding: 5px;
}


.login-btn {
  color: white;
  background: var(--darkRed);
  font-size: 17px;
  padding: 5px 8px;
  font-weight: normal;
  margin: 3px 0;
  margin-right: 8px;
  display: inline-block;
  text-decoration: none;
  font-family: 'Butcherman', cursive;
  min-width: 100px;
}

/* Ghost-Button */
.login-btn:hover, #login-btn:active {
  color:var(--Orange);
  background:white;
  cursor: pointer;
  box-shadow: 0px 0px 8px 1px var(--Orange);
  transition: .5s ease;
  transform: scale(1.02);
};

.signup-link {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: var(--lightTan);
}

.signup-link:hover {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: var(--Orange);
  transition: .5s ease;
  font-size: larger;
}

.signup-btn {
  color: white;
  background: var(--Purple);
  font-size: 17px;
  padding: 5px 8px;
  font-weight: normal;
  margin: 3px 0;
  margin-right: 8px;
  display: inline-block;
  text-decoration: none;
  font-family: 'Butcherman', cursive;
  min-width: 100px;
}

/* Ghost-Button */
.signup-btn:hover, .signup-btn:active {
  color:var(--Orange);
  background:white;
  cursor: pointer;
  box-shadow: 0px 0px 8px 1px var(--Orange);
  transition: .5s ease;
  transform: scale(1.02);
};

@media screen and (max-width: 575.98px) { 
  main {
    padding-top: 225px;
  }

  .singleStory {
    font-size: 150%;
  }

}

@media screen and (max-width: 768px) {
  .fixed-top {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: static;
  }

  main {
    padding-top: 20px;
  }

  .singleStory {
    font-size: 250%;
  }
}